/* GENERIC STYLES */
html, body {
    background: #FFF;
    font-size: 14px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.clear {
    content: "";
    display: table;
    clear: both;
}

/* TEXT STYLING */

h1,
h2,
h3,
h4,
h5,
h6 {text-align: center;}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}

/* --- RUBRIK --- */
.rubrik > h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 20px;
  line-height: 70px;
  color: #000;
  text-transform: uppercase;
}

.rubrik hr {
  margin: 20px auto;
  width: 10%;
  border-top: 1px solid red;
}